body{
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin-bottom: 100px;
}
.header-logo{
    margin-top: 100px;
    margin-bottom: 20px;
}

.header-h1, .text-h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}
.text-h2-2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 40px;
}

.h2-container{
    width: 290px;
    text-align: center;
}
.texto-header, .text-p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.boton-ios{
    background-color: hsl(171, 66%, 44%);
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    width: 300px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px hsl(171, 66%, 44%);
}
.boton-mac{
    background-color: hsl(233, 100%, 69%);
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    width: 300px;
    height: 50px;
    font-size: 18px;
    border: none;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px hsl(233, 100%, 69%);
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

}

.image-computer{
    width: 325px;
    margin-bottom: 30px;
}

.div-snippets, .div-snippets-modified {
    width: 325px;
    text-align: center;
}
.div-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
    
}
.logo{
    width: 120px;
    margin: 30px;
}
footer{
    background-color: hsl(201, 26%, 83%);
    margin-top: 120px;
}
.div-footer{
   text-align: center;
}
#c-logo{
    transform: scale(.4);
    margin-left: 30px;
}
.list-footer{
    font-family: 'Bai Jamjuree', sans-serif;
    list-style-type: none;
    margin-bottom: 30px;
    margin-right: 40px;
}
.icon-rrss{
    margin: 20px;
    
}
.div-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 376px) {

    header{
        background-image: url(images/bg-header-desktop.png);
    }

    .div-snippets, .div-snippets-modified{
        width: 685px;
    }

    .header-h1{
        font-size: 40px;
    }
    .texto-header{
        font-size: 18px;
    }

    .boton-ios{
        width: 250px;
        margin-right: 20px;
    }
    .boton-mac{
        width: 250px;
    }

    .h2-container{
        width: 650px;
        text-align: center;
    }
    .text-h2{
        font-size: 35px;
    }
    .text-p{
        font-size: 18px;
    }
    .div-desktop{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 190px;
    
    }
    .image-computer{
        width: 700px;
        height: 500px;
    }
    #desktop-text{
        font-size: 25px;
    }
    .div-desktop-text{
        width: 300px;
        display: inline-block;
        text-align-last: start;
    }
    #text-p-desktop{
      font-size: 15px;
      text-align: left;
    }
    
}