header{
    display: flex;
    flex-direction: column;
    background-image: url(images/bg-header-mobile.png);
    align-items: center;
}
.header-logo{
    margin-top: 100px;
    margin-bottom: 50px;
}

.header-h1{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}
.texto-header{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.boton-ios{
    background-color: hsl(171, 66%, 44%);
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    width: 300px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px hsl(171, 66%, 44%);
  
    
    
}
.boton-mac{
    background-color: hsl(233, 100%, 69%);
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    width: 300px;
    height: 50px;
    font-size: 18px;
    border: none;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px hsl(233, 100%, 69%);
    
}